<!doctype html>
<html lang="en">
<head th:insert="partials.html :: header">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single Post</title>
</head>
<body>
<div th:insert="partials.html :: navbar"></div>

<div class="container">
    <p><span th:text="${post.title}"></span></p>
    <p><span th:text="${post.body}"></span></p>
    <p><span th:text="${post.user.email}"></span></p>
</div>

<div th:insert="partials.html :: footer"></div>
</body>
</html>